In [6]:
import pandas as pd

In [10]:
df = pd.read_csv('results/netflix_movie_average.txt', sep="|", header=0)
df = df.sort_values(by=['average_rating'], ascending=False)
df.head()

       movie_id  average_rating
14960     14961            4.72
7229       7230            4.72
7056       7057            4.70
3455       3456            4.67
9863       9864            4.64

In [5]:
display(df.iloc[df['hour_impact'].idxmax()])

hour                 20
hour_impact    15057971
Name: 20, dtype: int64